/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.908Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  --buttonFont: "";
  --buttonFontLineHeight: 0;
  --buttonFontSize: 0;
  --buttonFontWeight: 0;
  /* Measures */
  --borderOff: 0rem;
  --borderOn: 0.0625rem;
  --borderRadius: 0;
  --buttonBorderRadius: 0;
  --buttonIcon: 0;
  --buttonPaddingBottom: 0;
  --buttonPaddingLeft: 0;
  --buttonPaddingRight: 0;
  --buttonPaddingTop: 0;
  --buttonSpacing: 0;
  --cardBorderRadius: 0;
  --cardPadding: 0;
  --cardSpacing: 0;
  --icon: 1rem;
  --minHeight: 2rem;
  --minWidth: 2rem;
  --padding: 0;
}
