/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.912Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  /* Measures */
  --borderOff: 0rem;
  --borderOn: 0.0625rem;
  --borderRadius: 0;
  --icon: 1rem;
  --minHeight: 2rem;
  --minWidth: 2rem;
  --padding: 0;
}
