/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.911Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  /* Measures */
  --supportingTextDefault: oklch(0 0 0);
}
