/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.911Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  --menuLabelBorderColor: oklch(0 0 0);
  /* Fonts */
  --dropdownItemFont: "";
  --dropdownItemFontLineHeight: 1rem;
  --dropdownItemFontSize: 1rem;
  --dropdownItemFontWeight: 400;
  --labelFontFamily: "";
  --labelFontLineHeight: 0.4375rem;
  --labelFontSize: 0.625rem;
  --labelFontWeight: 500;
  /* Measures */
  --bEPageBackground: oklch(0 0 0);
  --bEPageNavigationWidth: 12.5rem;
  --bEPageOverlay: oklch(0 0 0);
  --bEPagePaddingBottom: 2rem;
  --bEPagePaddingLeft: 2rem;
  --bEPagePaddingRight: 2rem;
  --bEPagePaddingTop: 2rem;
  --bEPagePageMinHeight: 61.375rem;
  --bEPagePaper: oklch(0 0 0);
  --borderRadius0: 0rem;
  --borderRadius2XL: 2rem;
  --borderRadius2XS: 0.125rem;
  --borderRadiusL: 1rem;
  --borderRadiusM: 0.75rem;
  --borderRadiusS: 0.5rem;
  --borderRadiusXL: 1.5rem;
  --borderRadiusXS: 0.25rem;
  --chipBorderRadius: 2rem;
  --chipBorderWidth: 0.0625rem;
  --chipBorderWidthActive: 0.125rem;
  --chipPaddingBottom: 0.75rem;
  --chipPaddingLeft: 1.5rem;
  --chipPaddingRight: 1.5rem;
  --chipPaddingTop: 0.75rem;
  --chipSpacing: 0.25rem;
  --device: Desktop (L);
  --dragHandlePadding: 0.25rem;
  --dropdownItemBorderRadius: 0.5rem;
  --dropdownItemIcon: 1rem;
  --dropdownItemPaddingBottom: 0.5rem;
  --dropdownItemPaddingLeft: 0.5rem;
  --dropdownItemPaddingRight: 0.5rem;
  --dropdownItemPaddingTop: 0.5rem;
  --dropdownItemSpacing: 0.5rem;
  --dropdownListBorderRadius: 0.75rem;
  --dropdownListPadding: 0.5rem;
  --dropdownListSpacing: 0.25rem;
  --filterBorderRadius: 0.5rem;
  --filterBorderWidth: 0.0625rem;
  --filterIcon: 0.875rem;
  --filterPaddingBottom: 0.25rem;
  --filterPaddingLeft: 0.5rem;
  --filterPaddingRight: 0.5rem;
  --filterPaddingTop: 0.25rem;
  --filterSpacing: 0.25rem;
  --labelBorderRadius: 0.25rem;
  --labelBorderWidth: 0rem;
  --labelIconSize: 0.625rem;
  --labelMinHeight: 1.125rem;
  --labelPaddingBottom: 0.25rem;
  --labelPaddingLeft: 0.25rem;
  --labelPaddingRight: 0.25rem;
  --labelPaddingTop: 0.25rem;
  --labelSpacing: 0.25rem;
  --menuLabelBackground: oklch(0 0 0);
  --menuLabelBackgroundActive: oklch(0 0 0);
  --menuLabelBackgroundHover: oklch(0 0 0);
  --menuLabelBorderRadius: 0.25rem;
  --menuLabelBorderWidth: 0rem;
  --menuLabelForeground: oklch(0 0 0);
  --menuLabelForegroundActive: oklch(0 0 0);
  --menuLabelForegroundHover: oklch(0 0 0);
  --menuLabelPaddingLeft: 0.75rem;
  --menuLabelPaddingRight: 0.5rem;
  --menuLabelPaddingVertical: 0.5rem;
  --menuLabelSpacing: 0.25rem;
  --spacing0: 0rem;
  --spacing2XL: 2rem;
  --spacing3XL: 3rem;
  --spacing4XL: 4rem;
  --spacing5XL: 5rem;
  --spacing6XL: 6rem;
  --spacing7XL: 7.5rem;
  --spacing8XL: 12.5rem;
  --spacingL: 1rem;
  --spacingM: 0.75rem;
  --spacingS: 0.5rem;
  --spacingXL: 1.5rem;
  --spacingXS: 0.25rem;
  --typographyBodyLineHeightLarge: 1.5rem;
  --typographyBodyLineHeightMedium: 1.375rem;
  --typographyBodyLineHeightSmall: 1rem;
  --typographyBodySizeLarge: 1.125rem;
  --typographyBodySizeMedium: 1rem;
  --typographyBodySizeSmall: 0.875rem;
  --typographyBodyWeightLarge: 400;
  --typographyBodyWeightMedium: 400;
  --typographyBodyWeightSmall: 300;
  --typographyButtonLineHeightLarge: 1.125rem;
  --typographyButtonLineHeightMedium: 1rem;
  --typographyButtonLineHeightSmall: 0.75rem;
  --typographyButtonSizeLarge: 1.25rem;
  --typographyButtonSizeMedium: 1rem;
  --typographyButtonSizeSmall: 0.875rem;
  --typographyButtonWeightLarge: 600;
  --typographyButtonWeightMedium: 600;
  --typographyButtonWeightSmall: 600;
  --typographyHeadingLineHeightMedium: 3rem;
  --typographyHeadingSizeMedium: 3rem;
  --typographyHeadingWeightMedium: 500;
  --typographyLabelLineHeightLarge: 0.6875rem;
  --typographyLabelLineHeightMedium: 0.75rem;
  --typographyLabelLineHeightSmall: 0.4375rem;
  --typographyLabelSizeLarge: 0.75rem;
  --typographyLabelSizeMedium: 0.75rem;
  --typographyLabelSizeSmall: 0.625rem;
  --typographyLabelWeightLarge: 400;
  --typographyLabelWeightMedium: 400;
  --typographyLabelWeightSmall: 500;
  --typographyTitleLineHeightLarge: 2.125rem;
  --typographyTitleLineHeightMedium: 1.5rem;
  --typographyTitleLineHeightSmall: 1.125rem;
  --typographyTitleSizeLarge: 1.75rem;
  --typographyTitleSizeMedium: 1.125rem;
  --typographyTitleSizeSmall: 0.875rem;
  --typographyTitleWeightLarge: 600;
  --typographyTitleWeightMedium: 700;
  --typographyTitleWeightSmall: 700;
  --wLPageBackground: oklch(0 0 0);
  --wLPageHorizontalGap: 1rem;
  --wLPageOverlay: oklch(0 0 0);
  --wLPagePaddingBottom: 1rem;
  --wLPagePaddingLeft: 0;
  --wLPagePaddingRight: 0;
  --wLPagePaddingTop: 2rem;
  --wLPagePageContainer: 75rem;
  --wLPagePaper: oklch(0 0 0);
  --wLPageSidebarMaxWidth: 17.6875rem;
  --wLPageVerticalGap: 1rem;
}
