/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.911Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  --subtitleFontLineHeight: 0;
  --subtitleFontSize: 0;
  --subtitleFontType: "";
  --subtitleFontWeight: 0;
  --titleFontLineHeight: 0;
  --titleFontSize: 0;
  --titleFontType: "";
  --titleFontWeight: 0;
  /* Measures */
}
