/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.909Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  --colorsBlack: oklch(0 0 0);
  --colorsBlue100: oklch(0.972 0.017 230.894);
  --colorsBlue200: oklch(0.896 0.048 232.924);
  --colorsBlue300: oklch(0.821 0.083 237.184);
  --colorsBlue400: oklch(0.739 0.115 242.054);
  --colorsBlue500: oklch(0.663 0.136 246.809);
  --colorsBlue600: oklch(0.595 0.14 250.295);
  --colorsBlue700: oklch(0.524 0.126 252.322);
  --colorsBlue800: oklch(0.435 0.091 255.18);
  --colorsBlue900: oklch(0.379 0.066 256.383);
  --colorsGray100: oklch(0.983 0.004 236.463);
  --colorsGray200: oklch(0.959 0.009 247.914);
  --colorsGray300: oklch(0.929 0.013 255.501);
  --colorsGray400: oklch(0.869 0.019 250.616);
  --colorsGray500: oklch(0.746 0.03 254.723);
  --colorsGray600: oklch(0.596 0.038 257.873);
  --colorsGray700: oklch(0.447 0.034 261.324);
  --colorsGray800: oklch(0.335 0.033 260.919);
  --colorsGray900: oklch(0.243 0.025 263.959);
  --colorsGreen100: oklch(0.986 0.021 154.143);
  --colorsGreen200: oklch(0.931 0.066 154.902);
  --colorsGreen300: oklch(0.862 0.103 154.841);
  --colorsGreen400: oklch(0.786 0.138 154.522);
  --colorsGreen500: oklch(0.71 0.143 154.531);
  --colorsGreen600: oklch(0.634 0.128 156.198);
  --colorsGreen700: oklch(0.553 0.107 157.987);
  --colorsGreen800: oklch(0.464 0.082 160.167);
  --colorsGreen900: oklch(0.404 0.067 161.206);
  --colorsIndigo100: oklch(0.964 0.018 253.354);
  --colorsIndigo200: oklch(0.883 0.056 259.305);
  --colorsIndigo300: oklch(0.805 0.089 264.775);
  --colorsIndigo400: oklch(0.709 0.135 269.114);
  --colorsIndigo500: oklch(0.627 0.164 271.529);
  --colorsIndigo600: oklch(0.563 0.172 274.554);
  --colorsIndigo700: oklch(0.494 0.169 276.3);
  --colorsIndigo800: oklch(0.421 0.127 280.601);
  --colorsIndigo900: oklch(0.367 0.089 286.318);
  --colorsOrange100: oklch(0.986 0.014 84.594);
  --colorsOrange200: oklch(0.946 0.05 82.8);
  --colorsOrange300: oklch(0.886 0.099 80.902);
  --colorsOrange400: oklch(0.801 0.134 68.787);
  --colorsOrange500: oklch(0.724 0.153 56.072);
  --colorsOrange600: oklch(0.653 0.164 48.406);
  --colorsOrange700: oklch(0.579 0.15 43.809);
  --colorsOrange800: oklch(0.494 0.129 39.617);
  --colorsOrange900: oklch(0.418 0.105 37.676);
  --colorsPink100: oklch(0.978 0.011 3.486);
  --colorsPink200: oklch(0.915 0.046 359.184);
  --colorsPink300: oklch(0.847 0.085 356.452);
  --colorsPink400: oklch(0.756 0.143 355.902);
  --colorsPink500: oklch(0.692 0.182 352.859);
  --colorsPink600: oklch(0.607 0.198 353.205);
  --colorsPink700: oklch(0.544 0.185 349.335);
  --colorsPink800: oklch(0.471 0.164 346.744);
  --colorsPink900: oklch(0.395 0.124 341.712);
  --colorsPurple100: oklch(0.977 0.014 308.307);
  --colorsPurple200: oklch(0.907 0.053 306.089);
  --colorsPurple300: oklch(0.838 0.089 303.676);
  --colorsPurple400: oklch(0.736 0.139 299.781);
  --colorsPurple500: oklch(0.664 0.163 296.963);
  --colorsPurple600: oklch(0.569 0.181 294.132);
  --colorsPurple700: oklch(0.503 0.183 292.419);
  --colorsPurple800: oklch(0.436 0.147 291.373);
  --colorsPurple900: oklch(0.379 0.116 290.854);
  --colorsRed100: oklch(0.978 0.011 17.322);
  --colorsRed200: oklch(0.912 0.044 17.987);
  --colorsRed300: oklch(0.835 0.089 19.118);
  --colorsRed400: oklch(0.742 0.15 21.35);
  --colorsRed500: oklch(0.688 0.178 22.945);
  --colorsRed600: oklch(0.614 0.204 25.563);
  --colorsRed700: oklch(0.544 0.186 25.949);
  --colorsRed800: oklch(0.465 0.147 24.937);
  --colorsRed900: oklch(0.394 0.105 23.196);
  --colorsTeal100: oklch(0.981 0.027 182.417);
  --colorsTeal200: oklch(0.922 0.069 183.53);
  --colorsTeal300: oklch(0.86 0.097 184.889);
  --colorsTeal400: oklch(0.786 0.114 186.566);
  --colorsTeal500: oklch(0.696 0.105 190.242);
  --colorsTeal600: oklch(0.619 0.091 193.165);
  --colorsTeal700: oklch(0.533 0.075 196.344);
  --colorsTeal800: oklch(0.447 0.057 200.255);
  --colorsTeal900: oklch(0.395 0.048 203.478);
  --colorsWhite: oklch(1 0 0);
  --colorsYellow100: oklch(0.996 0.02 106.744);
  --colorsYellow200: oklch(0.978 0.078 106.184);
  --colorsYellow300: oklch(0.942 0.125 103.628);
  --colorsYellow400: oklch(0.901 0.15 99.715);
  --colorsYellow500: oklch(0.844 0.146 93.306);
  --colorsYellow600: oklch(0.734 0.138 80.005);
  --colorsYellow700: oklch(0.626 0.125 70.45);
  --colorsYellow800: oklch(0.526 0.111 62.589);
  --colorsYellow900: oklch(0.431 0.092 59.948);
  /* Fonts */
  --fontFamiliesBody: Roboto;
  --fontFamiliesHeading: Inter;
  --fontSizesBody: 1rem;
  --fontSizesH1: 3.0625rem;
  --fontSizesH2: 2.4375rem;
  --fontSizesH3: 1.9375rem;
  --fontSizesH4: 1.5625rem;
  --fontSizesH5: 1.25rem;
  --fontSizesH6: 1rem;
  --fontSizesSm: 0.8500000238418579rem;
  --fontSizesXs: 0.6499999761581421rem;
  --fontWeightsBodyBold: Bold;
  --fontWeightsBodyRegular: Regular;
  --fontWeightsHeadingBold: Bold;
  --fontWeightsHeadingRegular: Regular;
  /* Measures */
  --borderRadiusLg: 0.5rem;
  --borderRadiusSm: 0.25rem;
  --borderRadiusXl: 1rem;
  --dimensionLg: 2rem;
  --dimensionMd: 1rem;
  --dimensionScale: 0.125rem;
  --dimensionSm: 0.5rem;
  --dimensionXl: 4rem;
  --dimensionXs: 0.25rem;
  --letterSpacingDefault: 0rem;
  --opacityHigh: 100%;
  --opacityLow: 100%;
  --opacityMd: 100%;
  --paragraphSpacingH1: 2rem;
  --paragraphSpacingH2: 1.625rem;
  --spacingLg: 2rem;
  --spacingMd: 1rem;
  --spacingSm: 0.5rem;
  --spacingXl: 4rem;
  --spacingXs: 0.25rem;
}
