body {
    background: var(--standard-black-black-5) !important;
    font-family: var(--font-font-1), serif !important;
}
input.form-control {
    font-size: var(--typography-body-size-medium) !important;
    font-family: var(--font-font-1), serif !important;

}
.mt-spacing-l {
    margin-top: var(--spacing-l) !important;
}

a {
    font-family: var(--font-font-1), serif !important;
    color: var(--orange-orange-6) !important;
    text-decoration: none !important;
}
a.text-small {
    font-size: var(--typography-body-size-small) !important;
    font-style: normal !important;
    font-weight: var(--typography-body-weight-small) !important;
    line-height: var(--typography-body-lineheight-small) !important;
}
.login-card {
    width: 415px;
}

.bt-miticko {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
    padding: var(--button-paddingtop) var(--button-paddingright) var(--button-paddingbottom) var(--button-paddingleft);
    border: var(--default-borderwidth) solid var(--default-bordercolor, rgba(255, 255, 255, 0.00));
    border-radius: var(--button-border-radius);
    font-size: var(--typography-button-size-small);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s ease;
    background: var(--default-background);
    font-family: inherit;
    min-height: 36px;
    color: var(--default-foreground);
}

.bt-miticko:hover {
    background: var(--default-backgroundhover);
    color: var(--default-foregroundhover);
}


.bt-miticko.bt-m-light {
    background: var(--light-background);
    color: var(--light-foreground);
}
.bt-miticko.bt-m-light:hover {
    background: var(--light-backgroundhover);
    color: var(--light-foregroundhover);
}
.bt-miticko.bt-m-outlined {
    background: var(--neutral-transparent);
    color: var(--primary-brand);
    border: 1px solid var(--primary-brand);
}
.bt-miticko.bt-m-outlined:hover {
    background: var(--light-background);
    color: var(--primary-brandhover);
}
.bt-miticko.bt-m-text-only {
    background: var(--neutral-transparent);
    color: var(--primary-brand);
    border: none;
}
.bt-miticko.bt-m-text-only:hover {
    background: var(--neutral-transparent);
    color: var(--primary-brandhover);
}

.bt-miticko.bt-m-medium .icon {
    width: var(--typography-button-size-medium);
}

.text-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-s);
}
.text-field .text-field-container {
    display: flex;
    padding: var(--text-field-paddingvertical) var(--text-field-paddinghorizontal);
    align-items: center;
    gap: var(--text-field-spacing);
    align-self: stretch;
    border-radius: var(--text-field-borderradius);
    border: var(--text-field-borderwidth) solid var(--text-field-borderresting);
    background: var(--text-field-background);
}
.text-field .text-field-container input {
    display: flex;
    align-items: center;
    gap: var(--text-field-spacing, 8px);
    align-self: stretch;
    color: var(--text-main);
    text-overflow: ellipsis;
    font-family: var(--font-font-1), serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium); /* 114.286% */
    width: 100%;
    border: none;
}
.text-field .text-field-container input:focus,
.text-field .text-field-container input:active {
    border: none;
    outline: none; /* rimuove l’outline standard del browser */
    box-shadow: 0 0 5px rgba(0,0,0,0);
}
.text-field .text-field-container input::placeholder {
    color: var(--text-secondary);
}
.text-field .text-field-container input:-webkit-autofill,
.text-field .text-field-container input:-webkit-autofill:hover,
.text-field .text-field-container input:-webkit-autofill:focus,
.text-field .text-field-container input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
    background-color: white !important;
}

.text-field .text-field-container.is-invalid {
    border: 1px solid var(--border-error);
}

.supporting-text {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
    font-family: var(--font-font-1), serif;
    font-size: var(--typography-body-size-small);
    font-style: normal;
    font-weight: var(--typography-body-weight-small);
    line-height: var(--typography-body-lineheight-small);
}
.supporting-text.success {
    color: var(--success-brand);
}
.supporting-text.warning {
    color: var(--warning-brand);
}
.supporting-text.danger {
    color: var(--error-brand);
}

.supporting-text.danger:before {
    font-family: "Font Awesome 6 Free"; /* Font Awesome */
    font-weight: 400;                   /* regular */
    content: "\f057";                   /* fa-circle-xmark */
    color: var(--error-brand);
}
.supporting-text.success:before {
    font-family: "Font Awesome 6 Free"; /* Font Awesome */
    font-weight: 600;                   /* regular */
    content: "\f00c";                   /* fa-check */
    color: var(--success-brand);
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: var(--spacing-l, 16px);
    align-items: flex-start;
    gap: var(--spacing-xl, 24px);
    background: var(--neutral-black, #000);
    z-index: 100;
}
.sidebar .logo {
    display: flex;
    width: 130px;
}
.sidebar .navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.sidebar .navigation-bar .item  {
    width: 100%;
    margin-bottom: var(--spacing-xs);
}
.sidebar .navigation-bar .item .nav-item {
    display: flex;
    height: 40px;
    padding: 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: #FFF;
    font-family: var(--font-font-1), serif;
    font-size: var(--typography-title-size-small, 14px);
    font-style: normal;
    width: 100%;
}

.sidebar .navigation-bar .item .nav-item{
    color: #FFF !important;
    font-weight: var(--typography-title-weight-medium);
    line-height: var(--typography-title-lineheight-medium); /* 100% */
}

.sidebar .navigation-bar .item .nav-item.active {
    font-weight: var(--typography-title-weight-small);
    line-height: var(--typography-title-lineheight-small); /* 100% */
}

.sidebar .navigation-bar .item .nav-item.active {
    border-radius: var(--border-radius-s);
    background: var(--neutral-grey-80);
    width: 100%;
}
.sidebar .navigation-bar .item .nav-item:hover {
    border-radius: var(--border-radius-s);
    background: var(--neutral-grey-80);
}
.main-content {
    margin-left: 200px;
    min-height: 100vh;
    background-color: #FFF;
    padding: var(--layout-backend-main-column-padding-top) var(--layout-backend-main-column-padding-right) var(--layout-backend-main-column-padding-bottom) var(--layout-backend-main-column-padding-left);
    width: calc(100vw - 200px);
}
.page-container {
    display: flex;
    height: 982px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--layout-backend-main-column-spacing);
    flex-shrink: 0;
}
.content-container h1{
    color: #000;

    /* headingMedium */
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-heading-size-medium);
    font-style: normal;
    font-weight: var(--typography-heading-weight-medium);
    line-height: var(--typography-heading-lineheight-medium); /* 100% */
}


.card-miticko {
    display: flex;
    padding: var(--card-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--card-spacing);
    align-self: stretch;
    border-radius: var(--card-border-radius);
    border: var(--card-border-width) solid var(--card-border);
    background: var(--card-background);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
}
.card-miticko .card-header {
    width: 100%;
    text-align: left;
}
.card-miticko .card-header h2 {
    color: var(--card-title);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-title-size-medium);
    font-style: normal;
    font-weight: var(--typography-title-weight-medium);
    line-height: var(--typography-title-lineheight-medium); /* 133.333% */
}
.card-miticko .card-header p {
    color: var(--card-subtitle);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium); /* 114.286% */
    margin: 0;
}

.card-miticko .card-body {
    width: 100%;
    position: relative;
}
.table-header {
    display: flex;
    padding-bottom: var(--spacing-s);
    align-items: center;
    gap: var(--spacing-l);
    align-self: stretch;
    position: absolute;
    top: 10px;
    z-index: 1000;
}
.filters-miticko {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    gap: var(--spacing-s);
    align-items: center;
}
.filters-miticko .filter {
    display: inline-flex;
    padding: var(--spacing-xs) var(--spacing-s) var(--spacing-xs) var(--spacing-xs);
    align-items: center;
    gap: var(--spacing-xs);
    border-radius: var(--border-radius-s);
    border: 1px dashed var(--primary-brandlighthover);
    width: auto;
    color: var(--primary-brand);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-label-size-large);
    font-style: normal;
    font-weight: var(--typography-label-weight-large);
    line-height: var(--typography-label-lineheight-large);
    max-width: max-content;
}
.filters-miticko .filter:hover {
    background: var(--primary-brandlight);
    cursor: pointer;
}

.filters-miticko .filter.filled{
    border-radius: var(--border-radius-s);
    border: 1px solid var(--primary-brand);
    background: var(--primary-brand);
    color: var(--primary-onbrand);
}
.table-header .table-header-total {
    color: var(--text-secondary);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-label-size-large);
    font-style: normal;
    font-weight: var(--typography-label-weight-large);
    line-height: var(--typography-label-lineheight-large);
}
.table-header .table-options {
    color: var(--primary-brand);
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium);
}

.table-miticko {
    padding: 0;
    margin: 0;
    width: 100%;
}

.table-miticko thead tr {
    border-radius: var(--border-radius-xs) var(--border-radius-xs) 0 0 !important;
    background: var(--secondary-brandlight) !important;
}

.table-miticko thead tr th {
    padding: var(--spacing-l) var(--spacing-m) !important;
    color: var(--text-secondary);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-title-size-small);
    font-style: normal;
    font-weight: var(--typography-title-weight-small) !important;
    line-height: var(--typography-title-lineheight-small); /* 128.571% */
}
.table-miticko > tbody > tr > th, .table-miticko > tbody > tr > td {
    padding: var(--spacing-l) var(--spacing-m) !important;
}
.table-miticko > tbody > tr > td {
    color: var(--text-main);
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium);
}

/* Dalla prima alla seconda colonna */
.table-miticko > tbody > tr > td:nth-child(-n+2) {
    color: var(--text-main);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-title-size-small);
    font-style: normal;
    font-weight: var(--typography-title-weight-small);
    line-height: var(--typography-title-lineheight-small); /* 128.571% */
}
/* Dalla prima alla seconda colonna */
.table-miticko > tbody > tr > td:nth-child(n+5) {
    overflow: hidden;
    color: var(--text-secondary);
    text-overflow: ellipsis;
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium);
}
.dt-length {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-secondary) !important;
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-label-size-large);
    font-style: normal;
    font-weight: var(--typography-label-weight-large);
    line-height: var(--typography-label-lineheight-large); /* 91.667% */
    text-transform: uppercase;
}
.dt-length .dt-input {
    border-radius: var(--border-radius-s) !important;
    border: 1px solid var(--border-default) !important;
    color: var(--text-main);

    /* labelLarge */
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-label-size-large);
    font-style: normal;
    font-weight: var(--typography-label-weight-large);
    line-height: var(--typography-label-lineheight-large); /* 91.667% */
    text-transform: uppercase;
}
.dt-info {
    color: var(--text-secondary) !important;
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium); /* 114.286% */
}
div.dt-container div.dt-layout-row {
    margin: 0.25em 0;
}
div.dt-container .dt-paging .dt-paging-button {
    padding: var(--spacing-xs) var(--spacing-s) !important;
    color: var(--primary-brand) !important;
    border: none !important;
}
div.dt-container .dt-paging .dt-paging-button:hover,
div.dt-container .dt-paging .dt-paging-button:active {
    padding: var(--spacing-xs) var(--spacing-s) !important;
    background: none !important;
    color: var(--primary-brandhover) !important;
    border: none !important;
}
.label-miticko {
    display: flex;
    padding: var(--spacing-xs);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    max-width: max-content;
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-label-size-small);
    font-style: normal;
    font-weight: var(--typography-label-weight-small);
    line-height: var(--typography-label-lineheight-small); /* 70% */
    text-transform: uppercase;
}

.label-miticko.success {
    border-radius: 4px;
    background: var(--success-brandlight);
    color: var(--success-onbrandlight);
}

.label-miticko.warning {
    border-radius: 4px;
    background: var(--warning-brandlight);
    color: var(--warning-onbrandlight);
}

.label-miticko.error {
    border-radius: 4px;
    background: var(--error-brandlight);
    color: var(--error-onbrandlight);
}

.label-miticko.error {
    border-radius: 4px;
    background: var(--error-brandlight);
    color: var(--error-onbrandlight);
}
.modal-miticko {
    align-self: stretch;
    color: var(--text-main) !important;
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-title-size-medium);
    font-style: normal;
    font-weight: var(--typography-title-weight-medium);
    line-height: var(--typography-title-lineheight-medium);
    padding: var(--spacing-xl);
    flex-direction: column !important;
    align-items: flex-start;
    gap: var(--spacing-2xl);
    border-radius: var(--border-radius-m) !important;
    background: var(--page-paper);
}
.modal-miticko .modal-header {
    border-bottom:none;
    position:relative;
    width: 100%;
}
.modal-miticko .modal-header .close {
    position:absolute;
    right: 0;
    border:none;
    background: none;
}
.modal-miticko .modal-header .modal-title {
    color: var(--text-main);
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-title-size-medium);
    font-style: normal;
    font-weight: var(--typography-title-weight-medium);
    line-height: var(--typography-title-lineheight-medium);
}
.modal-miticko .modal-body {
    padding: var(--spacing-0);
}
.modal-miticko .modal-footer {
    border:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-xs);
    align-self: stretch;
    padding: var(--spacing-0);
}
.flatpickr-calendar.inline {
    box-shadow:none !important;
}
.flatpickr-calendar .flatpickr-current-month .cur-month,
.flatpickr-calendar .flatpickr-current-month .cur-year {
    color: #000;
    text-align: center;
    font-family: var(--font-font-1), sans-serif;
    font-size: var(--typography-title-size-small);
    font-style: normal;
    font-weight: var(--typography-title-weight-small);
    line-height: var(--typography-title-lineheight-small); /* 70% */
}
.flatpickr-calendar .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-next-month {
    padding: 5px;
}

.flatpickr-day.today {
    border-color: var(--primary-brand);
    border-radius: 0;
    background: var(--light-backgroundhover);
    color: var(--primary-onbrandlight);
}

.flatpickr-day:hover {
    border-radius: 0;
    background: var(--primary-onbrand);
}
.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
    border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
    background: var(--primary-brand);
    border-color: var(--primary-onbrandlight);
}
.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
    border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
    background: var(--primary-brand);
    border-color: var(--primary-onbrandlight);
}
span.flatpickr-weekday{
    color: var(--text-secondary);
    text-align: center;
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-small);
    font-style: normal;
    font-weight: var(--typography-body-weight-small);
    line-height: var(--typography-body-lineheight-small);
}
.order-statuses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-s);
    align-self: stretch;

}
.order-statuses li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    align-self: stretch;
    color: var(--text-main);
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium);
}
.checkbox-miticko {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--text-main);
    font-family: var(--font-font-2), sans-serif;
    font-size: var(--typography-body-size-medium);
    font-style: normal;
    font-weight: var(--typography-body-weight-medium);
    line-height: var(--typography-body-lineheight-medium);
}
.checkbox-miticko.disabled {
    color: var(--text-disabled);
}
