.mt-spacing {
    margin-top:  12px !important;
}
.mt-spacing-s {
    margin-top: var(--spacing-s) !important;
}
.mt-spacing-m {
    margin-top: var(--spacing-m) !important;
}
.mt-spacing-l {
    margin-top: var(--spacing-l) !important;
}
.mt-spacing-xl {
    margin-top: var(--spacing-xl) !important;
}
.mt-spacing-2xl {
    margin-top: var(--spacing-2xl) !important;
}
.mt-spacing-3xl {
    margin-top: var(--spacing-3xl) !important;
}

.mb-spacing {
    margin-bottom: 12px !important;
}
.mb-spacing-s {
    margin-bottom: var(--spacing-s) !important;
}
.mb-spacing-m {
    margin-bottom: var(--spacing-m) !important;
}
.mb-spacing-l {
    margin-bottom: var(--spacing-l) !important;
}
.mb-spacing-xl {
    margin-bottom: var(--spacing-xl) !important;
}
.mb-spacing-2xl {
    margin-bottom: var(--spacing-2xl) !important;
}
.mb-spacing-3xl {
    margin-bottom: var(--spacing-3xl) !important;
}
