:root {
    --text-field-labelresting: var(--text-secondary);
    --text-field-labelactive: var(--text-main);
    --text-field-labeldisabled: var(--text-disabled);
    --text-field-labelreadonly: var(--text-secondary);
    --text-field-borderresting: var(--border-default);
    --text-field-borderactive: var(--border-active);
    --text-field-borderdisabled: var(--border-disabled);
    --text-field-borderreadonly: var(--border-default);
    --text-field-bordererror: var(--border-error);
    --text-field-background: var(--background-paper);
    --text-field-backgrounddisabled: var(--background-disabled);
    --text-field-backgroundreadonly: var(--background-disabled);
    --orange-orange-1: #ffefeb;
    --orange-orange-2: #ffd9cf;
    --orange-orange-3: #ffbba8;
    --orange-orange-4: #ff9b80;
    --orange-orange-5: #ff7d59;
    --orange-orange-6: #ff6035;
    --orange-orange-7: #d9522d;
    --orange-orange-8: #b54426;
    --orange-orange-9: #91371e;
    --orange-orange-10: #732b18;
    --blue-blue-1: #eaebf4;
    --blue-blue-2: #cccee5;
    --blue-blue-3: #a3a8d1;
    --blue-blue-4: #797fbb;
    --blue-blue-5: #5059a6;
    --blue-blue-6: #2a3493;
    --blue-blue-7: #242c7d;
    --blue-blue-8: #1e2568;
    --blue-blue-9: #181e54;
    --blue-blue-10: #131742;
    --green-green-1: #f2f5f2;
    --green-green-2: #dee5dd;
    --green-green-3: #b2cfae;
    --green-green-4: #66a659;
    --green-green-5: #55913c;
    --green-green-6: #307911;
    --green-green-7: #29670e;
    --green-green-8: #22560c;
    --green-green-9: #1b450a;
    --green-green-10: #163608;
    --yellow-yellow-1: #fdfbe6;
    --red-red-1: #fae6e6;
    --standard-black-black-100: #000000;
    --standard-black-black-95: #0d0d0d;
    --standard-black-black-90: #1a1a1a;
    --standard-black-black-80: #333333;
    --standard-black-black-70: #4d4d4d;
    --standard-black-black-60: #666666;
    --standard-black-black-50: #808080;
    --standard-black-black-45: #8c8c8c;
    --standard-black-black-40: #999999;
    --standard-black-black-30: #b2b2b2;
    --standard-black-black-20: #cccccc;
    --standard-black-black-10: #e6e6e6;
    --standard-black-black-5: #f2f2f2;
    --standard-black-black-2: #fafafa;
    --standard-black-black-0: #ffffff;
    --standard-black-transparent: #ffffff00;
    --red-red-2: #f3c2c2;
    --red-red-3: #e99191;
    --red-red-4: #df5e5e;
    --red-red-5: #d52e2e;
    --red-red-6: #cc0000;
    --red-red-7: #ad0000;
    --red-red-8: #910000;
    --red-red-9: #740000;
    --red-red-10: #5c0000;
    --yellow-yellow-2: #fbf4c2;
    --yellow-yellow-3: #f8ec92;
    --yellow-yellow-4: #f4e360;
    --yellow-yellow-5: #f1da30;
    --yellow-yellow-6: #eed202;
    --yellow-yellow-7: #cab302;
    --yellow-yellow-8: #a99501;
    --yellow-yellow-9: #887801;
    --yellow-yellow-10: #6b5e01;
}

[data-mode*="compact"] {
    --card-padding: var(--spacing-0);
    --card-spacing: var(--spacing-m);
    --card-border-radius: var(--border-radius-m);
}

[data-mode*="dark mode"] {
    --font-font-1: "DM Sans";
    --font-font-2: "DM Sans";
    --neutral-black: var(--standard-black-black-100);
    --neutral-grey-95: var(--standard-black-black-95);
    --neutral-grey-90: var(--standard-black-black-90);
    --neutral-grey-80: var(--standard-black-black-80);
    --neutral-grey-70: var(--standard-black-black-70);
    --neutral-grey-60: var(--standard-black-black-60);
    --neutral-grey-50: var(--standard-black-black-50);
    --neutral-grey-45: var(--standard-black-black-45);
    --neutral-grey-40: var(--standard-black-black-40);
    --neutral-grey-30: var(--standard-black-black-30);
    --neutral-grey-20: var(--standard-black-black-20);
    --neutral-grey-10: var(--standard-black-black-10);
    --neutral-grey-5: var(--standard-black-black-5);
    --neutral-grey-2: var(--standard-black-black-2);
    --neutral-white: var(--standard-black-black-0);
    --neutral-transparent: var(--standard-black-transparent);
    --primary-brand: var(--orange-orange-6);
    --primary-brandhover: var(--orange-orange-7);
    --primary-brandlight: var(--orange-orange-1);
    --primary-brandlighthover: var(--orange-orange-2);
    --primary-onbrand: var(--standard-black-black-0);
    --primary-onbrandlight: var(--orange-orange-6);
    --secondary-brand: var(--blue-blue-6);
    --secondary-brandhover: var(--blue-blue-7);
    --secondary-brandlight: var(--blue-blue-1);
    --secondary-brandlighthover: var(--blue-blue-2);
    --secondary-onbrand: var(--standard-black-black-0);
    --secondary-onbrandlight: var(--blue-blue-6);
    --success-brand: var(--green-green-4);
    --success-brandhover: var(--green-green-3);
    --success-brandlight: var(--green-green-6);
    --success-brandlighthover: var(--green-green-7);
    --success-onbrand: var(--standard-black-black-0);
    --success-onbrandlight: var(--green-green-1);
    --warning-brand: var(--yellow-yellow-6);
    --warning-brandhover: var(--yellow-yellow-7);
    --warning-brandlight: var(--yellow-yellow-1);
    --warning-brandlighthover: var(--yellow-yellow-2);
    --warning-onbrand: var(--standard-black-black-0);
    --warning-onbrandlight: var(--yellow-yellow-7);
    --error-brand: var(--red-red-6);
    --text-main: var(--neutral-grey-95);
    --text-secondary: var(--neutral-grey-60);
    --text-disabled: var(--neutral-grey-40);
    --error-brandhover: var(--red-red-7);
    --error-brandlight: var(--red-red-1);
    --error-brandlighthover: var(--red-red-2);
    --error-onbrand: var(--standard-black-black-0);
    --error-onbrandlight: var(--red-red-7);
    --disabled-foreground: var(--neutral-grey-95);
    --disabled-background: var(--neutral-grey-60);
    --disabled-foreground-light: var(--neutral-grey-95);
    --disabled-background-light: var(--neutral-grey-60);
    --border-default: var(--neutral-grey-20);
    --border-defaultondark: var(--neutral-grey-70);
    --border-active: var(--neutral-grey-95);
    --border-activeondark: var(--neutral-white);
    --border-disabled: var(--neutral-grey-20);
    --border-disabledondark: var(--neutral-grey-50);
    --border-error: var(--error-brand);
    --background-default: var(--standard-black-black-90);
    --background-paper: var(--standard-black-black-60);
    --background-disabled: var(--standard-black-black-60);
}

[data-mode*="desktop (l)"] {
    --spacing-0: 0px;
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 12px;
    --spacing-l: 16px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;
    --spacing-3xl: 48px;
    --spacing-4xl: 64px;
    --spacing-5xl: 80px;
    --spacing-6xl: 96px;
    --spacing-7xl: 120px;
    --spacing-8xl: 200px;
    --border-radius-0: 0px;
    --typography-heading-size-medium: 48px;
    --typography-heading-weight-medium: 500;
    --typography-heading-lineheight-medium: 48px;
    --typography-title-size-small: 14px;
    --typography-title-size-medium: 18px;
    --typography-title-size-large: 28px;
    --typography-title-weight-small: 700;
    --typography-title-weight-medium: 700;
    --typography-title-weight-large: 600;
    --typography-title-lineheight-small: 18px;
    --typography-title-lineheight-medium: 24px;
    --typography-title-lineheight-large: 34px;
    --typography-body-size-small: 12px;
    --typography-body-size-medium: 14px;
    --typography-body-size-large: 18px;
    --typography-body-weight-small: 300;
    --typography-body-weight-medium: 400;
    --typography-body-weight-large: 400;
    --typography-body-lineheight-small: 14px;
    --typography-body-lineheight-medium: 16px;
    --typography-body-lineheight-large: 20px;
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 24px;
    --border-radius-xl: 32px;
    --border-radius-2xl: 40px;
    --typography-label-size-small: 10px;
    --typography-label-size-medium: 12px;
    --typography-label-size-large: 14px;
    --typography-label-weight-small: 600;
    --typography-label-weight-medium: 600;
    --typography-label-weight-large: 500;
    --typography-label-lineheight-small: 7px;
    --typography-label-lineheight-medium: 9px;
    --typography-label-lineheight-large: 11px;
    --typography-button-size-small: 14px;
    --typography-button-size-medium: 16px;
    --typography-button-size-large: 20px;
    --typography-button-weight-small: 600;
    --layout-backend-main-column-padding-top: var(--spacing-2xl);
    --typography-button-weight-medium: 600;
    --layout-backend-main-column-padding-left: var(--spacing-2xl);
    --typography-button-weight-large: 600;
    --typography-button-lineheight-small: 12px;
    --layout-backend-main-column-padding-right: var(--spacing-2xl);
    --layout-backend-main-column-padding-bottom: var(--spacing-0);
    --typography-button-lineheight-medium: 16px;
    --layout-backend-main-column-spacing: var(--spacing-xl);
    --typography-button-lineheight-large: 18px;
    --layout-whitelabel-max-width: 960px;
    --layout-whitelabel-padding-top: var(--spacing-l);
    --layout-whitelabel-padding-bottom: var(--spacing-2xl);
    --layout-whitelabel-padding-horizontal: 0px;
    --layout-whitelabel-background: var(--page-background);
    --layout-backend-sidebar-left-width: 200px;
    --device: "Desktop (L)";
}

[data-mode*="disabled"] {
    --default-foreground: var(--disabled-foreground);
    --default-background: var(--disabled-background);
    --default-foregroundhover: var(--disabled-foreground);
    --default-backgroundhover: var(--disabled-background);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--disabled-foreground-light);
    --light-background: var(--disabled-background-light);
    --light-foregroundhover: var(--disabled-foreground-light);
    --light-backgroundhover: var(--disabled-background-light);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--disabled-foreground);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--disabled-foreground);
    --outlined-backgroundhover: var(--disabled-background-light);
    --outlined-bordercolor: var(--disabled-foreground);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--disabled-foreground);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--disabled-foreground);
    --text-only-backgroundhover: var(--neutral-transparent);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
}

[data-mode*="error"] {
    --default-foreground: var(--error-onbrand);
    --default-background: var(--error-brand);
    --default-foregroundhover: var(--error-onbrand);
    --default-backgroundhover: var(--error-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--error-brand);
    --light-background: var(--error-brandlight);
    --light-foregroundhover: var(--error-brandhover);
    --light-backgroundhover: var(--error-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--error-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--error-brandhover);
    --outlined-backgroundhover: var(--error-brandlight);
    --outlined-bordercolor: var(--error-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--error-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--error-brandhover);
    --text-only-backgroundhover: var(--neutral-transparent);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
}

[data-mode*="important"] {
    --card-title: var(--text-main);
    --card-subtitle: var(--text-secondary);
    --card-border: var(--secondary-brandlighthover);
    --card-background: var(--secondary-brandlight);
    --card-border-width: 1px;
}

[data-mode*="large"] {
    --button-paddingtop: var(--spacing-l);
    --button-paddingright: var(--spacing-xl);
    --button-paddingbottom: var(--spacing-l);
    --button-paddingleft: var(--spacing-xl);
    --button-spacing: var(--spacing-m);
    --button-font: var(--font-font-2);
    --button-font-size: var(--typography-button-size-large);
    --button-font-weight: var(--typography-button-weight-large);
    --button-font-line-height: var(--typography-button-lineheight-large);
    --button-icon: var(--typography-button-size-large);
    --button-border-radius: var(--border-radius-s);
}

[data-mode*="light mode"] {
    --supporting-text-default: var(--text-secondary);
    --supporting-text-disabled: var(--text-disabled);
    --supporting-text-success: var(--success-brand);
    --supporting-text-warning: var(--warning-brand);
    --supporting-text-error: var(--error-brand);
    --page-paper: var(--background-paper);
    --page-background: var(--background-default);
    --page-padding: var(--spacing-2xl);
    --page-spacing: var(--spacing-xl);
    --text-field-labelresting: var(--text-secondary);
    --text-field-labelactive: var(--text-main);
    --text-field-labeldisabled: var(--text-disabled);
    --text-field-labelreadonly: var(--text-secondary);
    --text-field-borderresting: var(--border-default);
    --text-field-borderactive: var(--border-active);
    --text-field-borderdisabled: var(--border-disabled);
    --text-field-borderreadonly: var(--border-default);
    --text-field-bordererror: var(--border-error);
    --text-field-background: var(--background-paper);
    --text-field-backgrounddisabled: var(--background-disabled);
    --text-field-backgroundreadonly: var(--background-disabled);
    --font-font-1: "DM Sans";
    --font-font-2: "DM Sans";
    --neutral-black: var(--standard-black-black-100);
    --neutral-grey-95: var(--standard-black-black-95);
    --neutral-grey-90: var(--standard-black-black-90);
    --neutral-grey-80: var(--standard-black-black-80);
    --neutral-grey-70: var(--standard-black-black-70);
    --neutral-grey-60: var(--standard-black-black-60);
    --neutral-grey-50: var(--standard-black-black-50);
    --neutral-grey-45: var(--standard-black-black-45);
    --neutral-grey-40: var(--standard-black-black-40);
    --neutral-grey-30: var(--standard-black-black-30);
    --neutral-grey-20: var(--standard-black-black-20);
    --neutral-grey-10: var(--standard-black-black-10);
    --neutral-grey-5: var(--standard-black-black-5);
    --neutral-grey-2: var(--standard-black-black-2);
    --neutral-white: var(--standard-black-black-0);
    --neutral-transparent: var(--standard-black-transparent);
    --primary-brand: var(--orange-orange-6);
    --primary-brandhover: var(--orange-orange-7);
    --primary-brandlight: var(--orange-orange-1);
    --primary-brandlighthover: var(--orange-orange-2);
    --primary-onbrand: var(--standard-black-black-0);
    --primary-onbrandlight: var(--orange-orange-6);
    --secondary-brand: var(--blue-blue-6);
    --secondary-brandhover: var(--blue-blue-7);
    --secondary-brandlight: var(--blue-blue-1);
    --secondary-brandlighthover: var(--blue-blue-2);
    --secondary-onbrand: var(--standard-black-black-0);
    --secondary-onbrandlight: var(--blue-blue-6);
    --success-brand: var(--green-green-7);
    --success-brandhover: var(--green-green-8);
    --success-brandlight: var(--green-green-1);
    --success-brandlighthover: var(--green-green-2);
    --success-onbrand: var(--standard-black-black-0);
    --success-onbrandlight: var(--green-green-7);
    --warning-brand: var(--yellow-yellow-6);
    --warning-brandhover: var(--yellow-yellow-7);
    --warning-brandlight: var(--yellow-yellow-1);
    --warning-brandlighthover: var(--yellow-yellow-2);
    --warning-onbrand: var(--standard-black-black-0);
    --warning-onbrandlight: var(--yellow-yellow-7);
    --error-brand: var(--red-red-6);
    --text-main: var(--neutral-grey-95);
    --text-secondary: var(--neutral-grey-60);
    --text-disabled: var(--neutral-grey-40);
    --error-brandhover: var(--red-red-7);
    --error-brandlight: var(--red-red-1);
    --error-brandlighthover: var(--red-red-2);
    --error-onbrand: var(--standard-black-black-0);
    --error-onbrandlight: var(--red-red-7);
    --disabled-foreground: var(--standard-black-black-45);
    --disabled-background: var(--standard-black-black-10);
    --disabled-foreground-light: var(--standard-black-black-30);
    --disabled-background-light: var(--standard-black-black-5);
    --border-default: var(--neutral-grey-20);
    --border-defaultondark: var(--neutral-grey-70);
    --border-active: var(--neutral-grey-95);
    --border-activeondark: var(--neutral-white);
    --border-disabled: var(--neutral-grey-20);
    --border-disabledondark: var(--neutral-grey-50);
    --border-error: var(--error-brand);
    --background-default: var(--standard-black-black-2);
    --background-paper: var(--standard-black-black-0);
    --background-disabled: var(--standard-black-black-5);
}

[data-mode*="medium"] {
    --text-field-paddingvertical: var(--spacing-m);
    --text-field-paddinghorizontal: var(--spacing-l);
    --text-field-spacing: var(--spacing-s);
    --text-field-borderwidth: 1px;
    --text-field-borderradius: var(--border-radius-s);
    --card-padding: var(--spacing-xl);
    --card-spacing: var(--spacing-xl);
    --card-border-radius: var(--border-radius-m);
    --button-paddingtop: var(--spacing-m);
    --button-paddingright: var(--spacing-l);
    --button-paddingbottom: var(--spacing-m);
    --button-paddingleft: var(--spacing-l);
    --button-spacing: var(--spacing-s);
    --button-font: var(--font-font-2);
    --button-font-size: var(--typography-button-size-medium);
    --button-font-weight: var(--typography-button-weight-medium);
    --button-font-line-height: var(--typography-button-lineheight-medium);
    --button-icon: var(--typography-button-size-medium);
    --button-border-radius: var(--border-radius-s);
}

[data-mode*="mobile (s)"] {
    --spacing-0: 0px;
    --spacing-xs: 4px;
    --spacing-s: 4px;
    --spacing-m: 8px;
    --spacing-l: 12px;
    --spacing-xl: 16px;
    --spacing-2xl: 24px;
    --spacing-3xl: 32px;
    --spacing-4xl: 40px;
    --spacing-5xl: 64px;
    --spacing-6xl: 80px;
    --spacing-7xl: 96px;
    --spacing-8xl: 120px;
    --border-radius-0: 0px;
    --typography-heading-size-medium: 32px;
    --typography-heading-weight-medium: 500;
    --typography-heading-lineheight-medium: 32px;
    --typography-title-size-small: 14px;
    --typography-title-size-medium: 16px;
    --typography-title-size-large: 24px;
    --typography-title-weight-small: 600;
    --typography-title-weight-medium: 600;
    --typography-title-weight-large: 600;
    --typography-title-lineheight-small: 18px;
    --typography-title-lineheight-medium: 20px;
    --typography-title-lineheight-large: 30px;
    --typography-body-size-small: 12px;
    --typography-body-size-medium: 14px;
    --typography-body-size-large: 18px;
    --typography-body-weight-small: 300;
    --typography-body-weight-medium: 400;
    --typography-body-weight-large: 400;
    --typography-body-lineheight-small: 14px;
    --typography-body-lineheight-medium: 16px;
    --typography-body-lineheight-large: 20px;
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 24px;
    --border-radius-xl: 32px;
    --border-radius-2xl: 36px;
    --typography-label-size-small: 10px;
    --typography-label-size-medium: 12px;
    --typography-label-size-large: 14px;
    --typography-label-weight-small: 600;
    --typography-label-weight-medium: 600;
    --typography-label-weight-large: 500;
    --typography-label-lineheight-small: 7px;
    --typography-label-lineheight-medium: 9px;
    --typography-label-lineheight-large: 11px;
    --typography-button-size-small: 14px;
    --typography-button-size-medium: 16px;
    --typography-button-size-large: 18px;
    --typography-button-weight-small: 600;
    --layout-backend-main-column-padding-top: var(--spacing-xl);
    --typography-button-weight-medium: 600;
    --layout-backend-main-column-padding-left: var(--spacing-xl);
    --typography-button-weight-large: 600;
    --typography-button-lineheight-small: 12px;
    --layout-backend-main-column-padding-right: var(--spacing-xl);
    --layout-backend-main-column-padding-bottom: var(--spacing-0);
    --typography-button-lineheight-medium: 14px;
    --layout-backend-main-column-spacing: var(--spacing-l);
    --typography-button-lineheight-large: 18px;
    --layout-whitelabel-max-width: 960px;
    --layout-whitelabel-padding-top: var(--spacing-l);
    --layout-whitelabel-padding-bottom: var(--spacing-2xl);
    --layout-whitelabel-padding-horizontal: var(--spacing-l);
    --layout-whitelabel-background: var(--page-background);
    --layout-backend-sidebar-left-width: 300px;
    --device: "Mobile (S)";
}

[data-mode*="primary"] {
    --default-foreground: var(--primary-onbrand);
    --default-background: var(--primary-brand);
    --default-foregroundhover: var(--primary-onbrand);
    --default-backgroundhover: var(--primary-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--primary-brand);
    --light-background: var(--primary-brandlight);
    --light-foregroundhover: var(--primary-brandhover);
    --light-backgroundhover: var(--primary-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--primary-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--primary-brandhover);
    --outlined-backgroundhover: var(--primary-brandlight);
    --outlined-bordercolor: var(--primary-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--primary-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--primary-brandhover);
    --text-only-backgroundhover: var(--neutral-transparent);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
}

[data-mode*="secondary"] {
    --default-foreground: var(--secondary-onbrand);
    --default-background: var(--secondary-brand);
    --default-foregroundhover: var(--secondary-onbrand);
    --default-backgroundhover: var(--secondary-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--secondary-brand);
    --light-background: var(--secondary-brandlight);
    --light-foregroundhover: var(--secondary-brandhover);
    --light-backgroundhover: var(--secondary-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--secondary-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--secondary-brandhover);
    --outlined-backgroundhover: var(--secondary-brandlight);
    --outlined-bordercolor: var(--secondary-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--secondary-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--secondary-brandhover);
    --text-only-backgroundhover: var(--neutral-transparent);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
}

[data-mode*="small"] {
    --card-padding: var(--spacing-l);
    --card-spacing: var(--spacing-l);
    --card-border-radius: var(--border-radius-m);
    --button-paddingtop: var(--spacing-s);
    --button-paddingright: var(--spacing-m);
    --button-paddingbottom: var(--spacing-s);
    --button-paddingleft: var(--spacing-m);
    --button-spacing: var(--spacing-s);
    --button-font: var(--font-font-2);
    --button-font-size: var(--typography-button-size-small);
    --button-font-weight: var(--typography-button-weight-small);
    --button-font-line-height: var(--typography-button-lineheight-small);
    --button-icon: var(--typography-button-size-small);
    --button-border-radius: var(--border-radius-s);
}

[data-mode*="success"] {
    --default-foreground: var(--success-onbrand);
    --default-background: var(--success-brand);
    --default-foregroundhover: var(--success-onbrand);
    --default-backgroundhover: var(--success-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--success-brand);
    --light-background: var(--success-brandlight);
    --light-foregroundhover: var(--success-brandhover);
    --light-backgroundhover: var(--success-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--success-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--success-brandhover);
    --outlined-backgroundhover: var(--success-brandlight);
    --outlined-bordercolor: var(--success-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--success-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--success-brandhover);
    --text-only-backgroundhover: var(--neutral-transparent);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
}

[data-mode*="transparent"] {
    --card-title: var(--text-main);
    --card-subtitle: var(--text-secondary);
    --card-border: var(--border-default);
    --card-background: var(--neutral-transparent);
    --card-border-width: 1px;
}

[data-mode*="warning"] {
    --default-foreground: var(--warning-onbrand);
    --default-background: var(--warning-brand);
    --default-foregroundhover: var(--warning-onbrand);
    --default-backgroundhover: var(--warning-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--warning-brand);
    --light-background: var(--warning-brandlight);
    --light-foregroundhover: var(--warning-brandhover);
    --light-backgroundhover: var(--warning-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--warning-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--warning-brandhover);
    --outlined-backgroundhover: var(--warning-brandlight);
    --outlined-bordercolor: var(--warning-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--warning-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--warning-brandhover);
    --text-only-backgroundhover: var(--neutral-transparent);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
}

[data-mode*="white"] {
    --card-title: var(--text-main);
    --card-subtitle: var(--text-secondary);
    --card-border: var(--neutral-transparent);
    --card-background: var(--page-paper);
    --card-border-width: 0px;
}
