:root {
    /* Device*/
    --spacing-0: 0px;
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 12px;
    --spacing-l: 16px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;
    --spacing-3xl: 48px;
    --spacing-4xl: 64px;
    --spacing-5xl: 80px;
    --spacing-6xl: 96px;
    --spacing-7xl: 120px;
    --spacing-8xl: 200px;
    --border-radius-0: 0px;
    --typography-heading-size-medium: 48px;
    --typography-heading-weight-medium: 500px;
    --typography-heading-lineheight-medium: 48px;
    --typography-title-size-small: 14px;
    --typography-title-size-medium: 18px;
    --typography-title-size-large: 28px;
    --border-radius-2xs: 2px;
    --typography-title-weight-small: 700px;
    --typography-title-weight-medium: 700px;
    --typography-title-weight-large: 600px;
    --typography-title-lineheight-small: 18px;
    --typography-title-lineheight-medium: 24px;
    --typography-title-lineheight-large: 34px;
    --typography-body-size-small: 14px;
    --typography-body-size-medium: 16px;
    --typography-body-size-large: 18px;
    --typography-body-weight-small: 300px;
    --typography-body-weight-medium: 400px;
    --typography-body-weight-large: 400px;
    --typography-body-lineheight-small: 16px;
    --typography-body-lineheight-medium: 22px;
    --typography-body-lineheight-large: 24px;
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-m: 12px;
    --border-radius-l: 16px;
    --border-radius-xl: 24px;
    --border-radius-2xl: 32px;
    --typography-label-size-small: 10px;
    --typography-label-size-medium: 12px;
    --typography-label-size-large: 12px;
    --typography-label-weight-small: 500px;
    --typography-label-weight-medium: 400px;
    --typography-label-weight-large: 400px;
    --typography-label-lineheight-small: 7px;
    --typography-label-lineheight-medium: 12px;
    --typography-label-lineheight-large: 11px;
    --typography-button-size-small: 14px;
    --typography-button-size-medium: 16px;
    --typography-button-size-large: 20px;
    --typography-button-weight-small: 600px;
    --typography-button-weight-medium: 600px;
    --typography-button-weight-large: 600px;
    --typography-button-lineheight-small: 12px;
    --typography-button-lineheight-medium: 16px;
    --typography-button-lineheight-large: 18px;
    --device: "Desktop (L)";
    --label-padding-top: var(--spacing-xs);
    --label-padding-bottom: var(--spacing-xs);
    --label-padding-left: var(--spacing-xs);
    --label-padding-right: var(--spacing-xs);
    --label-spacing: var(--spacing-xs);
    --label-min-height: 18px;
    --label-border-radius: var(--border-radius-xs);
    --label-border-width: 0px;
    --label-icon-size: var(--typography-label-size-small);
    --label-font-family: "[object Object]";
    --label-font-size: var(--typography-label-size-small);
    --label-font-line-height: var(--typography-label-lineheight-small);
    --label-font-weight: var(--typography-label-weight-small);
    --menu-label-spacing: var(--spacing-xs);
    --menu-label-paddingvertical: var(--spacing-s);
    --menu-label-paddingleft: var(--spacing-m);
    --menu-label-paddingright: var(--spacing-s);
    --menu-label-borderradius: var(--border-radius-xs);
    --menu-label-borderwidth: 0px;
    --menu-label-bordercolor: var(--neutral-transparent);
    --menu-label-foreground: var(--text-main);
    --menu-label-background: var(--standard-black-transparent);
    --menu-label-foregroundhover: var(--primary-brand);
    --menu-label-backgroundhover: var(--primary-brandlight);
    --menu-label-foregroundactive: var(--primary-brand);
    --menu-label-backgroundactive: var(--standard-black-transparent);
    --filter-paddingtop: var(--spacing-xs);
    --filter-paddingright: var(--spacing-s);
    --filter-paddingbottom: var(--spacing-xs);
    --filter-paddingleft: var(--spacing-s);
    --filter-spacing: var(--spacing-xs);
    --filter-borderradius: var(--border-radius-s);
    --filter-icon: var(--typography-body-size-small);
    --filter-borderwidth: 1px;
    --chip-paddingtop: var(--spacing-m);
    --chip-paddingright: var(--spacing-xl);
    --chip-paddingbottom: var(--spacing-m);
    --chip-paddingleft: var(--spacing-xl);
    --chip-spacing: var(--spacing-xs);
    --chip-borderradius: var(--border-radius-2xl);
    --chip-borderwidth: 1px;
    --chip-borderwidthactive: 2px;
    --dropdown-item-paddingtop: var(--spacing-s);
    --drag-handle-padding: var(--spacing-xs);
    --dropdown-item-paddingright: var(--spacing-s);
    --dropdown-item-paddingbottom: var(--spacing-s);
    --dropdown-item-paddingleft: var(--spacing-s);
    --dropdown-item-spacing: var(--spacing-s);
    --dropdown-item-borderradius: var(--border-radius-s);
    --dropdown-item-font: "[object Object]";
    --dropdown-item-font-size: var(--typography-body-size-medium);
    --dropdown-item-font-line-height: var(--typography-body-size-medium);
    --dropdown-item-font-weight: var(--typography-body-weight-medium);
    --dropdown-item-icon: var(--typography-body-size-medium);
    --dropdown-list-padding: var(--spacing-s);
    --dropdown-list-spacing: var(--spacing-xs);
    --dropdown-list-borderradius: var(--border-radius-m);
    --be---page-paper: var(--background-paper);
    --be---page-background: var(--background-default);
    --be---page-padding-top: var(--spacing-2xl);
    --be---page-padding-bottom: var(--spacing-2xl);
    --be---page-padding-left: var(--spacing-2xl);
    --be---page-padding-right: var(--spacing-2xl);
    --be---page-navigation-width: 200px;
    --be---page-page-min-height: 982px;
    --be---page-overlay: var(--background-overlay);
    --wl---page-paper: var(--background-paper);
    --wl---page-background: var(--background-default);
    --wl---page-padding-top: var(--spacing-2xl);
    --wl---page-padding-bottom: var(--spacing-l);
    --wl---page-padding-left: var(--spacing-0);
    --wl---page-padding-right: var(--spacing-0);
    --wl---page-vertical-gap: var(--spacing-l);
    --wl---page-horizontal-gap: var(--spacing-l);
    --wl---page-overlay: var(--background-overlay);
    --wl---page-page-container: 1200px;
    --wl---page-sidebar-maxwidth: 283px;
    /* Text_Field_Appearance*/
    --text-field-empty-label: var(--text-secondary);
    --text-field-empty-icon: var(--text-main);
    --text-field-filled-label: var(--text-main);
    --text-field-filled-icon: var(--text-main);
    --text-field-empty-background: var(--background-paper);
    --text-field-empty-border: var(--border-default);
    --text-field-empty-borderwidth: 1px;
    --text-field-filled-background: var(--background-paper);
    --text-field-filled-border: var(--border-default);
    --text-field-filled-borderwidth: 1px;
    /* Primitives*/
    --orange-orange-1: #fbede6;
    --orange-orange-2: #f1c6b0;
    --orange-orange-3: #eaaa8a;
    --orange-orange-4: #e18354;
    --orange-orange-5: #db6b33;
    --orange-orange-6: #d1571a;
    --orange-orange-7: #d24600;
    --orange-orange-8: #a33700;
    --orange-orange-9: #742700;
    --orange-orange-10: #581d00;
    --blue-blue-1: #ebedfb;
    --blue-blue-2: #c2c6f1;
    --blue-blue-3: #a4abeb;
    --blue-blue-4: #7a84e2;
    --blue-blue-5: #616ddc;
    --blue-blue-6: #3948d3;
    --blue-blue-7: #3442c0;
    --blue-blue-8: #283396;
    --blue-blue-9: #1f2874;
    --blue-blue-10: #181e59;
    --green-green-1: #f2f5f2;
    --green-green-2: #dee5dd;
    --green-green-3: #b2cfae;
    --green-green-4: #66a659;
    --green-green-5: #55913c;
    --green-green-6: #307911;
    --green-green-7: #29670e;
    --green-green-8: #22560c;
    --green-green-9: #1b450a;
    --green-green-10: #163608;
    --yellow-yellow-1: #fdfbe6;
    --red-red-1: #fae6e6;
    --standard-black-black-100: #000000;
    --standard-black-black-95: #0d0d0d;
    --standard-black-black-90: #1a1a1a;
    --standard-black-black-80: #333333;
    --standard-black-black-70: #4d4d4d;
    --standard-black-black-60: #666666;
    --standard-black-black-50: #808080;
    --standard-black-black-45: #8c8c8c;
    --standard-black-black-40: #999999;
    --standard-black-black-30: #b2b2b2;
    --standard-black-black-20: #cccccc;
    --standard-black-black-10: #e6e6e6;
    --standard-black-black-5: #f2f2f2;
    --standard-black-black-2: #fafafa;
    --standard-black-black-0: #ffffff;
    --standard-black-transparent: #ffffff00;
    --red-red-2: #f3c2c2;
    --red-red-3: #e99191;
    --red-red-4: #df5e5e;
    --red-red-5: #d52e2e;
    --red-red-6: #cc0000;
    --red-red-7: #ad0000;
    --red-red-8: #910000;
    --red-red-9: #740000;
    --red-red-10: #5c0000;
    --yellow-yellow-2: #fbf4c2;
    --yellow-yellow-3: #f8ec92;
    --yellow-yellow-4: #f4e360;
    --yellow-yellow-5: #f1da30;
    --yellow-yellow-6: #eed202;
    --yellow-yellow-7: #cab302;
    --yellow-yellow-8: #a99501;
    --yellow-yellow-9: #887801;
    --yellow-yellow-10: #6b5e01;
    /* Mode*/
    --font-font-1: "DM Sans";
    --font-font-2: "DM Sans";
    --neutral-black: var(--standard-black-black-100);
    --neutral-grey-95: var(--standard-black-black-95);
    --neutral-grey-90: var(--standard-black-black-90);
    --neutral-grey-80: var(--standard-black-black-80);
    --neutral-grey-70: var(--standard-black-black-70);
    --neutral-grey-60: var(--standard-black-black-60);
    --neutral-grey-50: var(--standard-black-black-50);
    --neutral-grey-45: var(--standard-black-black-45);
    --neutral-grey-40: var(--standard-black-black-40);
    --neutral-grey-30: var(--standard-black-black-30);
    --neutral-grey-20: var(--standard-black-black-20);
    --neutral-grey-10: var(--standard-black-black-10);
    --neutral-grey-5: var(--standard-black-black-5);
    --neutral-grey-2: var(--standard-black-black-2);
    --neutral-white: var(--standard-black-black-0);
    --neutral-transparent: var(--standard-black-transparent);
    --primary-brand: var(--orange-orange-7);
    --primary-brandhover: var(--orange-orange-8);
    --primary-brandlight: var(--orange-orange-1);
    --primary-brandlighthover: var(--orange-orange-2);
    --primary-onbrand: var(--standard-black-black-0);
    --primary-onbrandlight: var(--orange-orange-7);
    --secondary-brand: var(--blue-blue-6);
    --secondary-brandhover: var(--blue-blue-7);
    --secondary-brandlight: var(--blue-blue-1);
    --secondary-brandlighthover: var(--blue-blue-2);
    --secondary-onbrand: var(--standard-black-black-0);
    --secondary-onbrandlight: var(--blue-blue-6);
    --success-brand: var(--green-green-7);
    --success-brandhover: var(--green-green-8);
    --success-brandlight: var(--green-green-1);
    --success-brandlighthover: var(--green-green-2);
    --success-onbrand: var(--standard-black-black-0);
    --success-onbrandlight: var(--green-green-7);
    --warning-brand: var(--yellow-yellow-6);
    --warning-brandhover: var(--yellow-yellow-7);
    --warning-brandlight: var(--yellow-yellow-1);
    --warning-brandlighthover: var(--yellow-yellow-2);
    --warning-onbrand: var(--standard-black-black-0);
    --warning-onbrandlight: var(--yellow-yellow-7);
    --error-brand: var(--red-red-6);
    --text-main: var(--neutral-grey-95);
    --text-secondary: var(--neutral-grey-60);
    --text-disabled: var(--neutral-grey-40);
    --error-brandhover: var(--red-red-7);
    --error-brandlight: var(--red-red-1);
    --error-brandlighthover: var(--red-red-2);
    --error-onbrand: var(--standard-black-black-0);
    --error-onbrandlight: var(--red-red-7);
    --disabled-foreground: var(--standard-black-black-45);
    --disabled-background: var(--standard-black-black-10);
    --disabled-foreground-light: var(--standard-black-black-30);
    --disabled-background-light: var(--standard-black-black-5);
    --border-default: var(--neutral-grey-10);
    --border-defaultondark: var(--neutral-grey-70);
    --border-light: var(--neutral-grey-5);
    --border-active: var(--neutral-grey-50);
    --border-activeondark: var(--neutral-white);
    --border-disabled: var(--neutral-grey-5);
    --border-disabledondark: var(--neutral-grey-50);
    --border-error: var(--error-brand);
    --background-default: #f2f3f7;
    --background-paper: var(--standard-black-black-0);
    --background-disabled: var(--standard-black-black-5);
    --background-overlay: #00000099;
    /* Text_Field_Size*/
    --text-field-paddingvertical: var(--spacing-l);
    --text-field-paddinghorizontal: var(--spacing-l);
    --text-field-spacing: var(--spacing-s);
    --text-field-borderradius: var(--border-radius-m);
    /* Button_Brand*/
    --default-foreground: var(--primary-onbrand);
    --default-background: var(--primary-brand);
    --default-foregroundhover: var(--primary-onbrand);
    --default-backgroundhover: var(--primary-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--primary-brand);
    --light-background: var(--primary-brandlight);
    --light-foregroundhover: var(--primary-brandhover);
    --light-backgroundhover: var(--primary-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--primary-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--primary-brandhover);
    --outlined-backgroundhover: var(--primary-brandlight);
    --outlined-bordercolor: var(--primary-brandlighthover);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--primary-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--primary-brandhover);
    --text-only-backgroundhover: var(--primary-brandlight);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
    /* Button_Messages*/
    --default-foreground: var(--success-onbrand);
    --default-background: var(--success-brand);
    --default-foregroundhover: var(--success-onbrand);
    --default-backgroundhover: var(--success-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--success-brand);
    --light-background: var(--success-brandlight);
    --light-foregroundhover: var(--success-brandhover);
    --light-backgroundhover: var(--success-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--success-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--success-brandhover);
    --outlined-backgroundhover: var(--success-brandlight);
    --outlined-bordercolor: var(--success-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--success-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--success-brandhover);
    --text-only-backgroundhover: var(--success-brandlight);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
    /* Card_Size*/
    --card-padding: var(--spacing-0);
    --card-spacing: var(--spacing-m);
    --card-border-radius: var(--border-radius-xl);
    /* Card_Appearance*/
    --card-title: var(--text-main);
    --card-subtitle: var(--text-secondary);
    --card-border: var(--border-default);
    --card-background: var(--neutral-transparent);
    --card-width: 1px;
    /* Button_Size*/
    --button-paddingtop: var(--spacing-s);
    --button-paddingright: var(--spacing-m);
    --button-paddingbottom: var(--spacing-s);
    --button-paddingleft: var(--spacing-m);
    --button-spacing: var(--spacing-s);
    --button-font: "[object Object]";
    --button-font-size: var(--typography-button-size-small);
    --button-font-weight: var(--typography-button-weight-small);
    --button-font-line-height: var(--typography-button-lineheight-small);
    --button-icon: var(--typography-button-size-small);
    --button-border-radius: var(--border-radius-m);
    /* Supporting_Text_Appearance*/
    --supporting-text-default: var(--text-secondary);
    /* Elevation*/
    --x: 0px;
    --y: 0px;
    --blur: 0px;
    --spread: 0px;
    --color: #ffffff00;
    /* Icon_button_Size*/
    --padding: var(--spacing-s);
    --icon: 16px;
    --border-radius: var(--border-radius-m);
    --borderon: 1px;
    --borderoff: 0px;
    --min-height: 32px;
    --min-width: 32px;
    /* Icon_Button_Brand*/
    --default-foreground: var(--primary-onbrand);
    --default-background: var(--primary-brand);
    --default-foregroundhover: var(--primary-onbrand);
    --default-backgroundhover: var(--primary-brandhover);
    --default-bordercolor: var(--neutral-transparent);
    --default-borderwidth: 0px;
    --light-foreground: var(--primary-brand);
    --light-background: var(--primary-brandlight);
    --light-foregroundhover: var(--primary-brandhover);
    --light-backgroundhover: var(--primary-brandlighthover);
    --light-bordercolor: var(--neutral-transparent);
    --light-borderwidth: 0px;
    --outlined-foreground: var(--primary-brand);
    --outlined-background: var(--neutral-transparent);
    --outlined-foregroundhover: var(--primary-brandhover);
    --outlined-backgroundhover: var(--primary-brandlight);
    --outlined-bordercolor: var(--primary-brand);
    --outlined-borderwidth: 1px;
    --text-only-foreground: var(--primary-brand);
    --text-only-background: var(--neutral-transparent);
    --text-only-foregroundhover: var(--primary-brandhover);
    --text-only-backgroundhover: var(--primary-brandlight);
    --text-only-bordercolor: var(--neutral-transparent);
    --text-only-borderwidth: 0px;
    /* Divider*/
    --bordercolor: var(--standard-black-black-5);
    --borderwidth: 1px;
    /* Card_Title*/
    --title-font-type: "[object Object]";
    --title-font-size: var(--typography-title-size-medium);
    --title-font-weight: var(--typography-title-weight-medium);
    --title-font-line-height: var(--typography-title-lineheight-medium);
    --subtitle-font-type: "[object Object]";
    --subtitle-font-size: var(--typography-body-size-medium);
    --subtitle-font-weight: var(--typography-body-weight-medium);
    --subtitle-font-line-height: var(--typography-body-lineheight-medium);
    /* Snackbar*/
    --font-color: var(--success-onbrand);
    --background-color: var(--success-brand);
    --font-type: "[object Object]";
    --font-size: var(--typography-body-size-medium);
    --font-weight: var(--typography-body-weight-medium);
    --font-line-height: var(--typography-body-lineheight-medium);
    --border-width: 0px;
    --border-color: var(--standard-black-transparent);
    --border-radius: var(--spacing-l);
    /* Table*/
    --heading-background-color: var(--standard-black-black-5);
    --heading-text-color: var(--text-secondary);
    --heading-border-radius: var(--border-radius-s);
    --heading-font-type: "[object Object]";
    --heading-font-size: var(--typography-title-size-small);
    --heading-font-weight: var(--typography-title-weight-small);
    --heading-font-line-height: var(--typography-title-lineheight-small);
    --heading-padding-horizontal: var(--spacing-m);
    --heading-padding-vertical: var(--spacing-l);
    --heading-spacing: var(--spacing-4xl);
    --content-background-color: var(--standard-black-transparent);
    --content-padding-horizontal: var(--spacing-m);
    --content-padding-vertical: var(--spacing-l);
    --content-spacing: var(--spacing-4xl);
    --content-border-width: 1px;
    --content-border-color: var(--standard-black-black-5);
    --footer-background-color: var(--standard-black-black-2);
    --footer-border-radius: var(--border-radius-s);
    --footer-padding-horizontal: var(--spacing-m);
    --footer-padding-vertical: var(--spacing-l);
    --footer-spacing: var(--spacing-4xl);
    /* Dropdown_Appearance*/
    --dropdown-empty-label: var(--text-secondary);
    --dropdown-empty-iconaction: var(--text-main);
    --dropdown-empty-background: var(--background-paper);
    --dropdown-empty-border: var(--border-default);
    --dropdown-empty-borderwidth: 1px;
    --dropdown-filled-label: var(--text-main);
    --dropdown-filled-iconaction: var(--text-main);
    --dropdown-filled-background: var(--background-paper);
    --dropdown-filled-border: var(--border-default);
    --dropdown-filled-borderwidth: 1px;
    /* Dropdown_Size*/
    --dropdown-paddingvertical: var(--spacing-l);
    --dropdown-paddinghorizontal: var(--spacing-l);
    --dropdown-spacing: var(--spacing-s);
    --dropdown-borderradius: var(--border-radius-m);
    /* Label_Status*/
    --background: var(--success-brandlight);
    --foreground: var(--success-onbrandlight);
    --border-color: var(--neutral-transparent);
    /* Standalone_link_Appearance*/
    --color: var(--primary-brand);
    /* Accordion*/
    --background: var(--standard-black-black-2);
    --bordercolorresting: var(--border-light);
    --bordercoloractive: var(--border-active);
    --borderwidth: 1px;
    --borderradius: var(--border-radius-xl);
    --spacing: var(--border-radius-m);
    --paddingtop: var(--spacing-l);
    --paddingbottom: var(--spacing-l);
    --paddingleft: var(--spacing-l);
    --paddingright: var(--spacing-l);
    --fonttype: "[object Object]";
    --fontsize: var(--typography-title-size-medium);
    --fontlineheight: var(--typography-title-lineheight-medium);
    --fontweight: var(--typography-title-weight-medium);
    --fontcolor: var(--text-main);
    /* Effect style variables*/
    --elevation-0: 0px 0px 0px 0px #ffffff00;
    /* Text style variables*/
    --headingmedium-font-size: 48px;
    --headingmedium-font-family: "DM Sans";
    --headingmedium-font-weight: normal;
    --headingmedium-line-height: 48px;
    --titlelarge-font-size: 28px;
    --titlelarge-font-family: "DM Sans";
    --titlelarge-font-weight: normal;
    --titlelarge-line-height: 34px;
    --titlemedium-font-size: 18px;
    --titlemedium-font-family: "DM Sans";
    --titlemedium-font-weight: normal;
    --titlemedium-line-height: 24px;
    --titlesmall-font-size: 14px;
    --titlesmall-font-family: "DM Sans";
    --titlesmall-font-weight: normal;
    --titlesmall-line-height: 18px;
    --bodylarge-font-size: 18px;
    --bodylarge-font-family: "DM Sans";
    --bodylarge-font-weight: normal;
    --bodylarge-line-height: 24px;
    --bodymedium-font-size: 16px;
    --bodymedium-font-family: "DM Sans";
    --bodymedium-font-weight: normal;
    --bodymedium-line-height: 22px;
    --bodysmall-font-size: 14px;
    --bodysmall-font-family: "DM Sans";
    --bodysmall-font-weight: normal;
    --bodysmall-line-height: 16px;
    --labellarge-font-size: 12px;
    --labellarge-font-family: "DM Sans";
    --labellarge-font-weight: normal;
    --labellarge-line-height: 11px;
    --labelmedium-font-size: 12px;
    --labelmedium-font-family: "DM Sans";
    --labelmedium-font-weight: normal;
    --labelmedium-line-height: 12px;
    --labelsmall-font-size: 10px;
    --labelsmall-font-family: "DM Sans";
    --labelsmall-font-weight: normal;
    --labelsmall-line-height: 7px;
    --buttonlarge-font-size: 20px;
    --buttonlarge-font-family: "DM Sans";
    --buttonlarge-font-weight: normal;
    --buttonlarge-line-height: 18px;
    --buttonmedium-font-size: 16px;
    --buttonmedium-font-family: "DM Sans";
    --buttonmedium-font-weight: normal;
    --buttonmedium-line-height: 16px;
    --buttonsmall-font-size: 14px;
    --buttonsmall-font-family: "DM Sans";
    --buttonsmall-font-weight: normal;
    --buttonsmall-line-height: 12px;
}
