/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.912Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  /* Measures */
  --dropdownBorderRadius: 0;
  --dropdownPaddingHorizontal: 0;
  --dropdownPaddingVertical: 0;
  --dropdownSpacing: 0;
}
