/*
 * Design tokens exported from Figma
 * Exported at: 2026-02-13T14:53:19.908Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  /* Measures */
  --cardBorderRadius: 0;
  --cardPadding: 0;
  --cardSpacing: 0;
}
